@use "./base.scss";

/*Overwrites the default behaviour that checked checkboxe are striked through and light grey */

.page article li:has(> input[type="checkbox"]:checked) {
  text-decoration: none;
  text-decoration-color: var(--darkgrey);
  color: var(--darkgrey);
}